.CardContainer {
    padding: 0 40px;
}

.Card {
    margin: 15px;
    border: none;
    border-radius: 16px;
    transition: transform 0.4s ease-in-out;
    box-shadow:10px 10px 15px rgba(0, 0, 0, 0.8); ;
}

.CardSize {
    width: 18rem;
}

.ImageContainer {
    height: 400px;
    width: auto;
    background-color: white;
    margin: 4px;
}

.CardImg {
    max-width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
}

.Card:hover {
    transform: scale(1.05);
}